<!-- admin-stand-plist-unrouted.component.html -->

<div class="container mt-4">
  <div *ngIf="oStandPage">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('nombre')">Nombre</th>
          <th (click)="doOrder('descripcion')">Descripción</th>
          <th (click)="doOrder('velocidad')">Velocidad</th>
          <th (click)="doOrder('alcance')">Alcance</th>
          <th (click)="doOrder('poder')">Poder</th>
          <th (click)="doOrder('aguante')">Aguante</th>
          <th (click)="doOrder('acierto')">Acierto</th>
          <th (click)="doOrder('potencial_de_desarollo')">Potencial de Desarollo</th>
          <th (click)="doOrder('usuario')">Creador</th>
          <!-- Agrega más encabezados según sea necesario -->
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stand of oStandPage.content">
          <td>{{ stand.id }}</td>
          <td>{{ stand.nombre }}</td>
          <td>{{ stand.descripcion }}</td>
          <td>{{ stand.velocidad }}</td>
         <td>  {{stand.potencial_de_desarollo}}</td>
          <td>{{ stand.alcance }}</td>
          <td>{{ stand.poder }}</td>
          <td>{{ stand.aguante }}</td>
          <td>{{ stand.acierto }}</td>
          <td>{{ stand.usuario.username}}</td>
          
          <td>
            <button class="btn btn-primary" (click)="doView(stand)"><i class="fa-solid fa-circle-info">
            </i></button>
           
              
              <button class="btn btn-primary" [routerLink]="['/admin','stand','view',stand.id]"><i class="fa-solid fa-eye"></i></button>
                <button class="btn btn-warning" [routerLink]="['/admin','stand','edit',stand.id]"><i class="fa-solid fa-pen-to-square"></i></button>
                  <button class="btn btn-danger" (click)="doRemove(stand)"><i class="fa-solid fa-trash"> </i></button>
          </td>
          
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <p-paginator (onPageChange)="onPageChange($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
        [totalRecords]="oStandPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
  </div>
  <div *ngIf="status" class="alert alert-danger">
    <p>{{ status.message }}</p>
  </div>
</div>
<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> Confirmación de Eliminación</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <!-- Aquí puedes agregar el contenido del mensaje de confirmación si es necesario -->
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Estás seguro de que quieres eliminar este stand?</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" (click)="cd.reject()"> No</button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" (click)="cd.accept()"> Sí</button>
  </ng-template>
</p-confirmDialog>>
