<!-- admin-user-plist-unrouted.component.html -->

<div class="container mt-4">
  <div *ngIf="oPage">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('nombre')">Nombre</th>
          <th (click)="doOrder('telefono')">Teléfono</th>
          <th (click)="doOrder('email')">Email</th>
          <th (click)="doOrder('username')">Usuario</th>
          <th (click)="doOrder('role')">Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of oPage.content">
          <td>{{ user.id }}</td>
          <td>{{ user.nombre }}</td>
          <td>{{ user.telefono }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.role ? 'Admin' : 'Usuario' }}</td>
          <td>
            <button  class="btn btn-danger"(click)="doRemove(user)"><i
              class="pi pi-trash"></i></button>
            <button class="btn btn-primary" (click)="doView(user)"><i class="pi pi-arrow-circle-up"></i></button>
            <button class="btn btn-primary" [routerLink]="['/admin','user','view',user.id]"><i
              class="pi pi-eye"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
        [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
  </div>
  <div *ngIf="status" class="alert alert-danger">
    <p>{{ status.message }}</p>
  </div>
</div>
<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> Confirmación de Eliminación</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <!-- Aquí puedes agregar el contenido del mensaje de confirmación si es necesario -->
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>¿Estás seguro de que quieres eliminar este usuario</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" (click)="cd.reject()"> No</button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" (click)="cd.accept()"> Sí</button>
  </ng-template>
</p-confirmDialog>>