<div fxLayout="column" fxLayoutGap="20px">
    <!-- Detalle del stand -->
    <mat-card class="stand-card">
      
      <mat-card-content>
        <app-user-stand-detail-unrouted [id]="id"></app-user-stand-detail-unrouted>
      </mat-card-content>
    </mat-card>
  
    <!-- Lista de opiniones del stand -->
    <mat-card class="opinions-card">
      <mat-card-header>
        <mat-card-title class="opinions-card-title">Opiniones del Stand</mat-card-title>
      </mat-card-header>
      <mat-card-content>
     
      </mat-card-content>
    </mat-card>
  </div>
  