footer {
    background-color: #26105d;
    color: #fff;
    padding: 20px;
    margin-top: 40px; 
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content {
    flex: 1;
}

.footer-content h3 {
    margin-bottom: 10px;
}

.contact-info {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 5px;
}

.navigation-links ul {
    list-style: none;
    padding: 0;
}

.navigation-links ul li {
    margin-bottom: 5px;
}

.navigation-links a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
}
