
.fa-solid {
    color: #ffffff;
}

.fa-solid {
    color: #ffffff;
}

.fa-solid {
    color: #ffffff;
}



.container {
    margin-top: 4rem;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

.table th,
.table td {
    padding: 0.75rem;
    text-align: center;
    vertical-align: middle;
}

.table th {
    background-color: #26105d;
    color: #fff;
    cursor: pointer;
}

.table td {
    background-color: #dad4ea;
}

.table th:hover {
    background-color: #2b2964;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f8f9fa;
}

.btn {
    margin-right: 0.5rem;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: translateY(-2px);
}

.alert {
    margin-top: 1rem;
}

.p-confirmDialog {
    width: 30vw;
}

.p-confirmDialog .p-dialog {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.p-confirmDialog .p-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: none;
}

.p-confirmDialog .p-dialog-header h5 {
    margin: 0;
}

.p-confirmDialog .p-dialog-message {
    text-align: center;
}

.p-confirmDialog .p-dialog-footer {
    text-align: center;
}

.p-button {
    margin: 0 0.5rem;
}



.btn-primary {
    background-color: #7e1f60;
    border-color: #7e1f60;
}
