
.table th {
    background-color: #662549;
    color: #ecf0f1;
  }
  
  .table td {
    background-color: #ecd4d4; 
    color: #fff;
    border: 1px solid #ecd4d4;
    border-radius: 5px;
  }
  
  .custom-table {
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 2px solid #34495e; 
    border-radius: 10px;
  }
  
 
  .container {
    text-align: center;
  }
  
  
  .my-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
 
  .alert {
    background-color: #c0392b; 
    color: #fff; 
    border: 1px solid #922b21; 
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  