<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>
<h1 class="d-flex justify-content-center my-3"> Formulario de stand </h1>
<div *ngIf="status == null" class="col-12">
  
  <div class="d-flex justify-content-center my-3">
    
    <form [formGroup]="standForm" (ngSubmit)="onSubmit()">
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="250" *ngIf="operation == 'EDIT'">
          <mat-label>ID:</mat-label>
          <input matInput formControlName="id" placeholder="ID" required readonly>
          <mat-hint align="end">(Este número no se puede cambiar)</mat-hint>
        </mat-form-field>
      </div>
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Nombre:</mat-label>
          <input matInput formControlName="nombre" placeholder="Nombre" required>
          <mat-hint align="end">(Entre 3 y 255 caracteres)</mat-hint>
          <mat-error *ngIf="hasError('nombre', 'required')">Nombre es obligatorio</mat-error>
          <mat-error *ngIf="hasError('nombre', 'minlength')">El nombre debe tener al menos 3 caracteres</mat-error>
          <mat-error *ngIf="hasError('nombre', 'maxlength')">El nombre no puede tener más de 255 caracteres</mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <label for="imagen">Imagen:</label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" required>
        <mat-error *ngIf="hasError('imagen', 'required')">Campo obligatorio</mat-error>
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Descripción:</mat-label>
          <input matInput formControlName="descripcion" placeholder="Descripción" required>
          <!-- Añade aquí cualquier validación adicional según tus necesidades -->
        </mat-form-field>
      </div>
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Velocidad:</mat-label>
          <mat-select formControlName="velocidad" placeholder="Velocidad">
            <mat-option *ngFor="let option of ['A', 'B', 'C', 'D', 'E']" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Alcance:</mat-label>
          <mat-select formControlName="alcance" placeholder="Alcance">
            <mat-option *ngFor="let option of ['A', 'B', 'C', 'D', 'E']" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Poder:</mat-label>
          <mat-select formControlName="poder" placeholder="Poder">
            <mat-option *ngFor="let option of ['A', 'B', 'C', 'D', 'E']" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Aguante:</mat-label>
          <mat-select formControlName="aguante" placeholder="Aguante">
            <mat-option *ngFor="let option of ['A', 'B', 'C', 'D', 'E']" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      
      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Acierto:</mat-label>
          <mat-select formControlName="acierto" placeholder="Acierto">
            <mat-option *ngFor="let option of ['A', 'B', 'C', 'D', 'E']" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-group input-container">
        <mat-form-field [style.width.px]="350">
          <mat-label>Potencial de Desarrollo:</mat-label>
          <mat-select formControlName="potencial_de_desarollo" placeholder="Potencial de Desarrollo">
            <mat-option *ngFor="let option of ['A', 'B', 'C', 'D', 'E']" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="text-center mt-5">
        <button mat-raised-button color="primary" type="submit" [disabled]="!standForm.valid">Guardar Stand</button>
      </div>
      </div>
    </form>
  </div>
</div>
