/* Agrega estos estilos al archivo de estilo de tu aplicación */

.table {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
    margin: auto;
  }
  
  .alert {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus preferencias */
    margin: auto;
  }
  
  .my-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  