<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div *ngIf="status == null">
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <th>ID</th>
        <td>{{ oStand.id }}</td>
      </tr>
      <tr>
        <th>Nombre</th>
        <td>{{ oStand.nombre }}</td>
      </tr>
      <tr>
        <div><strong >Imagen:</strong> <img class="rounded" class="img-thumbnail" [src]="oStand.imagen" alt="Imagen del producto" >
        </div>
        <th>Descripción</th>
        <td>{{ oStand.descripcion }}</td>
      </tr>
     
      <tr>
        <th>Velocidad</th>
        <td>{{oStand.velocidad }}</td>
      </tr>
      <tr>
        <th>Alcance</th>
        <td>{{oStand.alcance }}</td>
      </tr>
      <tr>
        <th>Poder</th>
        <td>{{ oStand.poder }}</td>
      </tr>
      <tr>
        <th>Aguante</th>
        <td>{{oStand.aguante }}</td>
      </tr>
      <tr>
        <th>Acierto</th>
        <td>{{oStand.acierto }}</td>
      </tr>
      
    </tbody>
  </table>
</div>