<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div *ngIf="status != null" class="d-flex justify-content-center my-3">
        <div class="alert alert-danger" role="alert">
          {{ status!.error.message }} - {{ status!.message }}
        </div>
      </div>

      <div *ngIf="status == null">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th>ID</th>
              <td>{{ oStand.id }}</td>
            </tr>
            <tr>
              <th>Nombre</th>
              <td>{{ oStand.nombre }}</td>
            </tr>
            <tr>
              <th>Imagen</th>
              <td>
                <img class="rounded img-thumbnail" [src]="oStand.imagen" alt="oStand.nombre">
              </td>
            </tr>
            <tr>
              <th>Descripción</th>
              <td>{{ oStand.descripcion }}</td>
            </tr>
            <tr>
              <th>Velocidad</th>
              <td>{{ oStand.velocidad }}</td>
            </tr>
            <tr>
              <th>Alcance</th>
              <td>{{ oStand.alcance }}</td>
            </tr>
            <tr>
              <th>Poder</th>
              <td>{{ oStand.poder }}</td>
            </tr>
            <tr>
              <th>Aguante</th>
              <td>{{ oStand.aguante }}</td>
            </tr>
            <tr>
              <th>Acierto</th>
              <td>{{ oStand.acierto }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
