/* Estilos para el mensaje de error */
.error-message-container {
  margin-bottom: 20px;
  padding: 15px;
  background-color: #f8d7da;
  border-radius: 10px;
  border: 1px solid #f5c6cb;
  color: #721c24;
}

/* Estilos para las tarjetas de opinión */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 20px;
}

.message {
  margin-right: 10px;
}

/* Estilos para el formulario de creación de opiniones */
.crearopiniones {
  background-color:#DAD4EA;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.info {
  margin-top: 20px;
}


.btn-lg {
  font-size: 1.25rem;
}


.btn-primary {
  background-color: #26105d;
    border-color: #26105d;
}

.btn-primary:hover {
  background-color: #26105d;
  border-color: #26105d;
}

.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.card {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-header {
  background-color: #dbdae0;
  border-bottom: 1px solid #d9d6eb;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body {
  padding: 20px;
}

.message {
  margin-right: 10px;
}


.btn-lg {
  font-size: 1.25rem;
}



.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}


.card {
  max-width: 100%;
}


.card-header, .message {
  word-wrap: break-word;
  white-space: pre-wrap;
}
