
<div *ngIf="status != null" class="error-message-container">
  <div class="d-flex justify-content-center my-2">
    <div class="alert alert-danger" role="alert">
      {{ status!.error }} - {{ status!.message }}
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="row justify-content-center">
    
    <div class="col-lg-8 col-md-12">
      <div class="row">
        <div class="col-lg-12" *ngFor="let opinion of page?.content">
          <div class="card mb-3">
            <div class="card-header">{{ opinion.usuario.username }}</div>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="message">{{ opinion.descripcion }}</div>
                <!-- Botón para borrar opinión -->
                <button *ngIf="isUsuarioOpinion(opinion)||  isAdministrador()" (click)="borrarOpinion(opinion.id)" type="button" class="btn btn-danger btn-lg mt-3"><i class="fa-solid fa-trash"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 
    <div class="col-lg-4 col-md-12">
      <div class="crearopiniones">
        <h1 class="mb-4">Opina sobre el stand</h1>
        <p>¡Queremos conocer tu opinión sobre los stands al estilo de JoJo's Bizarre Adventure! </p>
        <button type="button" class="btn btn-primary btn-lg mt-3" (click)="postNuevaOpinion()">Hacer opinion</button>
        <div class="info mt-4">
          <p>Todas las opiniones son revisadas antes de ser publicadas. Cualquier opinión inapropiada será borrada por un administrador.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<p-confirmDialog #cd [style]="{ 'width': '30vw', 'border-radius': '8px' }">
  <ng-template pTemplate="header">
    <div class="p-d-flex p-ai-center">
      <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem; color: #f76c6c;"></i>
      <h5 class="p-m-0">Confirmación de Eliminación</h5>
    </div>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="p-text-center">
      <p>¿Estás seguro de que quieres eliminar esta opinion?</p>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="p-d-flex p-jc-center">
      <button pButton type="button" icon="pi pi-times" label="No" class="p-button-text p-button-danger p-mx-2" (click)="cd.reject()"></button>
      <button pButton type="button" icon="pi pi-check" label="Sí" class="p-button-text p-button-success p-mx-2" (click)="cd.accept()"></button>
    </div>
  </ng-template>
</p-confirmDialog>
