.login-form-container {
    border: 2px solid #0E21A0; /* Borde azul */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin-top: 10px; /* Espacio superior */
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: #0E21A0 0px 0px 10px; /* Sombra */
  }
  
  .full-width {
    width: 100%;
  }
  #boton1{
    background-color: #7e1f60;
  border-color: #7e1f60;
    color: #ffffff;
  }

  #boton2{
    background-color: #26105d;
    color: #ffffff;
  }