<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Actualizar Contraseña</h2>
          <p class="text-center">Ingrese su nueva contraseña</p>

          <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" class="d-flex flex-column align-items-center">
            <mat-form-field class="full-width">
              <mat-label>Nueva contraseña:</mat-label>
              <input type="password" matInput placeholder="Ingrese nueva contraseña" formControlName="password">
              <mat-error *ngIf="updatePasswordForm.get('password')?.hasError('required')">La contraseña es obligatoria</mat-error>
              <mat-error *ngIf="updatePasswordForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
              <mat-label>Confirma contraseña:</mat-label>
              <input type="password" matInput placeholder="Confirme su contraseña" formControlName="confirmPassword">
              <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('required')">La confirmación de la contraseña es obligatoria</mat-error>
              <mat-error *ngIf="updatePasswordForm.get('confirmPassword')?.hasError('minlength')">La confirmación de la contraseña debe tener al menos 6 caracteres</mat-error>
            </mat-form-field>

            <button type="submit" class="btn btn-primary">Recuperar Contraseña</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
