<div class="container mt-4">
  <!-- Card del formulario de opinión -->
  <div class="profile-container p-4 shadow-lg rounded custom-border-color">
    <div class="card-header bg-primary text-white text-center">
      <h2 class="custom-heading mb-0" style="font-size: 1.5rem;">¡Comparte tu Opinión!</h2>
    </div>
    <div class="card-body">
      <form [formGroup]="opinionForm" (ngSubmit)="onSubmit()" class="custom-form">
        <div class="mb-3">
          <label for="descripcion" class="form-label custom-label" style="font-size: 1rem;">Descripción:</label>
          <textarea id="descripcion" formControlName="descripcion" class="form-control custom-input" placeholder="Cuéntanos qué piensas..." required style="font-size: 1rem;"></textarea>
          <div *ngIf="opinionForm.controls['descripcion'].dirty && opinionForm.controls['descripcion'].errors?.['required']" class="invalid-feedback" style="font-size: 0.8rem;">
            La descripción es requerida
          </div>
          <div *ngIf="opinionForm.controls['descripcion'].dirty && opinionForm.controls['descripcion'].errors?.['minlength']" class="invalid-feedback" style="font-size: 0.8rem;">
            Debes escribir más texto
          </div>
          <div *ngIf="opinionForm.controls['descripcion'].dirty && opinionForm.controls['descripcion'].errors?.['maxlength']" class="invalid-feedback" style="font-size: 0.8rem;">
            Debes escribir menos texto
          </div>
        </div>
        <div class="text-center mt-4">
          <button type="submit" class="btn btn-custom-color" [disabled]="!opinionForm.valid" style="font-size: 1rem;">¡Enviar Opinión!</button>
        </div>
      </form>
    </div>
  </div>
</div>
