.btn-primary {
    background-color:  #26105d;
    border-color:  #26105d;
}
@media (max-width: 768px) {
    .card-header h2 {
      font-size: 1.2rem;
    }
    .form-control {
      font-size: 0.9rem;
    }
    .btn {
      font-size: 0.9rem;
    }
  }
  .bg-primary{
    background-color: #26105d;
  }
.btn-custom-color{
    background-color: #7e1f60;
    color: white;
}