<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>
<div *ngIf="status == null">
  <div class="col-12 text-center">
    
<h2>Formulario de Usuario</h2>  
    <div class="d-flex justify-content-center my-3">
      
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field [style.width.px]="250" *ngIf="operation == 'EDIT'">
            <mat-label>ID:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
            <mat-hint align="end">(Este número no se puede cambiar)</mat-hint>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Nombre:</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre" required>
            <mat-hint align="end">(Entre 3 y 255 caracteres)</mat-hint>
            <mat-error *ngIf="hasError('nombre', 'required')">Nombre es obligatorio</mat-error>
            <mat-error *ngIf="hasError('nombre', 'minlength')">El nombre debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="hasError('nombre', 'maxlength')">El nombre no puede tener más de 255 caracteres</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Teléfono:</mat-label>
            <input matInput formControlName="telefono" placeholder="Teléfono" required>
            <mat-hint align="end">(Entre 3 y 255 caracteres)</mat-hint>
            <mat-error *ngIf="hasError('telefono', 'required')">Teléfono es obligatorio</mat-error>
            <mat-error *ngIf="hasError('telefono', 'minlength')">El teléfono debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="hasError('telefono', 'maxlength')">El teléfono no puede tener más de 255 caracteres</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Email:</mat-label>
            <input matInput formControlName="email" placeholder="Email" required>
            <mat-error *ngIf="hasError('email', 'required')">Email es obligatorio</mat-error>
            <mat-error *ngIf="hasError('email', 'email')">El formato del email no es válido</mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field [style.width.px]="350">
            <mat-label>Username:</mat-label>
            <input matInput formControlName="username" placeholder="Username" required>
            <mat-hint align="end">(Entre 6 y 15 caracteres alfanuméricos)</mat-hint>
            <mat-error *ngIf="hasError('username', 'required')">Username es obligatorio</mat-error>
            <mat-error *ngIf="hasError('username', 'minlength')">El username debe tener al menos 6 caracteres</mat-error>
            <mat-error *ngIf="hasError('username', 'maxlength')">El username no puede tener más de 15 caracteres</mat-error>
            <mat-error *ngIf="hasError('username', 'pattern')">Caracteres no permitidos en el username</mat-error>
          </mat-form-field>
        </div>
    

        <mat-radio-group aria-label="Tipo de usuario" formControlName="role" required>
          <mat-radio-button [value]="false">Admin</mat-radio-button>
          <mat-radio-button [value]="true">Usuario</mat-radio-button>
          <mat-error *ngIf="hasError('role', 'required')">Tipo de usuario es obligatorio</mat-error>
        </mat-radio-group>

        <div class="text-center mt-5">
          <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>
