<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <div class="text-center mb-5">
        <h1 class="display-4 ">Cerrar Sesión</h1>
      </div>
      <div class="card border-0 rounded-lg shadow-lg">
        <div class="card-body">
          <p class="lead text-center text-muted">¿Seguro que deseas cerrar la sesión?</p>
          <div class="text-center mt-4">
            <button class="btn btn-warning btn-lg rounded-pill mr-3" (click)="logout()">
              <span class="pi pi-check mr-2"></span> Sí
            </button>
            <button class="btn btn-primary btn-lg rounded-pill" (click)="cancel()">
              <span class="pi pi-times mr-2"></span> No
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
