.vida-container {
    width: 150px; 
    height: 20px; 
    border: 1px solid #000; 
    margin: 0 auto; 
  }
  
  .vida-barra {
    display: block;
    height: 100%;
    background-color: #0f0; 
  }
  