.vida-container {
    width: 150px; /* Ancho de la barra de vida */
    height: 20px; /* Altura de la barra de vida */
    border: 1px solid #000; /* Borde de la barra de vida */
    margin: 0 auto; /* Centrar la barra de vida */
  }
  
  .vida-barra {
    display: block;
    height: 100%;
    background-color: #0f0; /* Color de la barra de vida */
  }
  