<!-- admin-user-form.component.html -->

<div class="container mt-4">
  <h2>Formulario de Partida</h2>
  <form [formGroup]="partidaForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="fecha">Fecha:</label>
      <input type="text" id="fecha" formControlName="fecha" class="form-control" placeholder="Ingrese la fecha" required>
    </div>
    <div class="form-group">
      <mat-form-field [style.width.px]="100">
        <mat-label>Ganador:</mat-label>
        <input matInput formControlName="id" placeholder="ID" required readonly>
      </mat-form-field>
      <button class="btn btn-primary" type="button" (click)="onShowUsuarioSelection()">
        <i class="pi pi-search"></i> Buscar Usuario
      </button>
      {{oPartida.usuario?.id}}
    </div>
  
    <!-- Puedes agregar más campos según sea necesario -->

    <div class="text-center mt-5">
      <button type="submit" class="btn btn-primary" [disabled]="!partidaForm.valid">Guardar</button>
    </div>
  </form>
</div>