<div class="container mt-4">
  <h2 class="text-center">Formulario de Partida</h2>
  <form [formGroup]="partidaForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="fecha" class="col-sm-3 col-form-label">Fecha:</label>
      <div class="col-sm-9">
        <!-- Utiliza el tipo de entrada date para dispositivos móviles -->
        <input type="date" id="fecha" formControlName="fecha" class="form-control" placeholder="Ingrese la fecha" required>
      </div>
    </div>
   
    <div class="form-group row">
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-primary btn-save" [disabled]="!partidaForm.valid">Guardar</button>
      </div>
    </div>
  </form>
</div>
