<div *ngIf="status != null" class="error-message-container">
  <div class="d-flex justify-content-center my-2">
    <div class="alert alert-danger" role="alert">
      {{ status!.error }} - {{ status!.message }}
    </div>
  </div>
</div>

<p-tabView>
  <p-tabPanel header="Favoritos">
    <!-- Contenido de la primera pestaña -->
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div *ngFor="let favorito of page?.content" class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card position-relative">
            <button (click)="eliminarFavoritoRepetido(favorito.id)" type="button" class="btn btn-warning btn-lg position-absolute top-0 end-0 mt-3 me-3">
              <i class="fa fa-star" aria-hidden="true"></i>
            </button>

            <img [src]="favorito.stand.imagen" class="card-img-top" alt="Imagen del stand">
            <div class="card-body">
              <h5 class="card-title">{{ favorito.stand.nombre }}</h5>
              <p class="card-text">Creador: {{ favorito.usuario.username }}</p>
              <button class="btn btn-primary mb-2" [routerLink]="['/user', 'stand', 'view', favorito.stand.id]">Ver Stand</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Stands">
    <div class="container mt-4">
      <div class="row justify-content-center">
        <div *ngFor="let stand of oPageStand?.content" class="col-12 col-md-6 col-lg-4 mb-4">
          <div class="card position-relative">
            

            <img [src]="stand.imagen" class="card-img-top" alt="Imagen del stand">
            <div class="card-body">
              <h5 class="card-title">{{ stand.nombre }}</h5>
              <p class="card-text">Creador: {{ stand.usuario.username }}</p>
              <button class="btn btn-primary mb-2" [routerLink]="['/user', 'stand', 'view', stand.id]">Ver Stand</button>
              <button *ngIf="(isUsuarioStand(stand) || isAdministrador())" (click)="borrarStand(stand.id)" type="button" class="btn btn-danger btn-lg mt-3 mb-3">
                <i class="fa-solid fa-trash"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
<p-confirmDialog #cd [style]="{ 'width': '30vw', 'border-radius': '8px' }">
  <ng-template pTemplate="header">
    <div class="d-flex align-items-center">
      <i class="pi pi-exclamation-triangle me-3" style="font-size: 2rem; color: #f76c6c;"></i>
      <h5 class="m-0">Confirmación de Eliminación</h5>
    </div>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="text-center">
      <p>¿Estás seguro de que quieres eliminar este stand?</p>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-center">
      <button pButton type="button" icon="pi pi-times" label="No" class="p-button-text p-button-danger mx-2" (click)="cd.reject()"></button>
      <button pButton type="button" icon="pi pi-check" label="Sí" class="p-button-text p-button-success mx-2" (click)="cd.accept()"></button>
    </div>
  </ng-template>
</p-confirmDialog>
