<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8"> <!-- Utiliza col-md-8 para ocupar 8 columnas en dispositivos medianos y más grandes -->
      <div class="form-container">
      
        <form [formGroup]="detallePartidaForm" (ngSubmit)="onSubmit()" class="text-center">
          <div formGroupName="usuario">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Usuario:</mat-label>
                <input matInput formControlName="id" placeholder="ID" required readonly>
              </mat-form-field>
              <button class="btn btn-primary" type="button" (click)="onShowUsuarioSelection()">
                <i class="pi pi-search"></i> Buscar Usuario
              </button>
              {{oDetallePartida.usuario?.id}}
            </div>
          </div>
          <div formGroupName="stand">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Stand:</mat-label>
                <input matInput formControlName="id" placeholder="ID" required readonly>
              </mat-form-field>
              <button class="btn btn-primary" type="button" (click)="onShowStandSelection()">
                <i class="pi pi-search"></i> Buscar Stand
              </button>
              {{oDetallePartida.stand?.id}}
            </div>
          </div>
          <div formGroupName="partida">
            <div class="form-group">
              <mat-form-field>
                <mat-label>Partida:</mat-label>
                <input matInput formControlName="id" placeholder="ID" required readonly>
              </mat-form-field>
              <button class="btn btn-primary" type="button" (click)="onShowPartidaSelection()">
                <i class="pi pi-search"></i> Buscar partida
              </button>
              {{oDetallePartida.partida?.id}}
            </div>
          </div>
          <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary" [disabled]="!detallePartidaForm.valid">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
