<!-- admin-opinion-form.component.html -->

<div class="container mt-4">
  <div class="form-container">
    <h2 class="text-center mb-4">Formulario de Detalle Partida</h2>
    <form [formGroup]="detallePartidaForm" (ngSubmit)="onSubmit()" class="text-center">
      <div formGroupName="usuario">
        <div class="form-group">
          <mat-form-field [style.width.px]="100">
            <mat-label>Usuario:</mat-label>
            <input matInput formControlName="id" placeholder="ID" required readonly>
          </mat-form-field>
          <button class="btn btn-primary" type="button" (click)="onShowUsuarioSelection()">
            <i class="pi pi-search"></i> Buscar Usuario
          </button>
          {{oDetallePartida.usuario?.id}}
        </div>
        <div formGroupName="stand">
          <div class="form-group">
            <mat-form-field [style.width.px]="100">
              <mat-label>Stand:</mat-label>
              <input matInput formControlName="id" placeholder="ID" required readonly>
            </mat-form-field>
            <button class="btn btn-primary" type="button" (click)="onShowStandSelection()">
              <i class="pi pi-search"></i> Buscar Stand
            </button>
            {{oDetallePartida.stand?.id}}
          </div>
        </div>

        <div class="text-center mt-5">
          <button type="submit" class="btn btn-primary" [disabled]="!detallePartidaForm.valid">Guardar</button>
        </div>
      </div>
    </form>
  </div>
</div>
