<!-- admin-opinion-plist-unrouted.component.html -->

<div class="container mt-4">
  <div *ngIf="oPage">
    <table class="table table-striped">
      <thead>
        <tr>
          <th (click)="doOrder('id')">ID</th>
          <th (click)="doOrder('usuario')">Usuario</th>
          <th (click)="doOrder('descripcion')">Descripción</th>
          <th (click)="doOrder('numero_estrellas')">Número de Estrellas</th>
          <th (click)="doOrder('stand')">Stand</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let opinion of oPage.content">
          <td>{{ opinion.id }}</td>
          <td>{{ opinion.usuario.nombre }}</td>
          <td>{{ opinion.descripcion }}</td>
          <td>{{ opinion.numero_estrellas }}</td>
          <td>{{ opinion.stand.nombre }}</td>
          <td>
            <button class="btn btn-danger" (click)="doRemove(opinion)"><i
              class="pi pi-trash"> </i></button>
              <button class="btn btn-primary" (click)="doView(opinion)"><i class="pi pi-arrow-circle-up"></i></button>

            <!-- Agrega más acciones según sea necesario -->
          </td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <p-paginator (onPageChange)="onPageChang($event)" [first]="oPaginatorState.first!" [rows]="oPaginatorState.rows!"
        [totalRecords]="oPage?.totalElements || 0" [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
  </div>
  <div *ngIf="status" class="alert alert-danger">
    <p>{{ status.message }}</p>
  </div>
</div>
