<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">StandCustom</a>
    <button (click)="toggleMenu()" #menuButton class="text-white focus:outline-none d-block d-lg-none" id="boton">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{'collapse': !showMenu, 'navbar-collapse': true}" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Opciones del menú sin considerar la sesión del usuario -->
        <li class="nav-item" *ngIf="strUserName">
          <a class="nav-link" (click)="showMenu = false" [class.active]="strUrl=='/home'||strUrl=='/'" aria-current="page" routerLink="/home">Home</a>
        </li>
        
        <li class="nav-item" *ngIf="strUserName && oSessionUser?.role === false">
          <a class="nav-link" [class.active]="strUrl.startsWith('/admin/usuario')" routerLink="/admin/usuario/plist">Usuarios</a>
        </li>
        <li class="nav-item" *ngIf="strUserName && oSessionUser?.role === false">
          <a class="nav-link" [class.active]="strUrl.startsWith('/admin/categoria')" routerLink="/admin/categoria/plist">Categoría</a>
        </li>
        <li class="nav-item" *ngIf="strUserName && oSessionUser?.role === false">
          <a class="nav-link" [class.active]="strUrl.startsWith('/admin/stand')" routerLink="/admin/stand/plist">Stand</a>
        </li>
        <li class="nav-item" *ngIf="strUserName && oSessionUser?.role === false">
          <a class="nav-link" [class.active]="strUrl.startsWith('/admin/opinion')" routerLink="/admin/opinion/plist">Opiniones</a>
        </li>
        <li class="nav-item" *ngIf="strUserName && oSessionUser?.role === false">
          <a class="nav-link" [class.active]="strUrl.startsWith('/admin/favorito')" routerLink="/admin/favorito/plist">Favoritos</a>
        </li>
        <li class="nav-item" *ngIf="strUserName && oSessionUser?.role === false">
          <a class="nav-link" [class.active]="strUrl.startsWith('/admin/partida')" routerLink="/admin/partida/plist">Partida</a>
        </li>
        <li class="nav-item" *ngIf="strUserName && oSessionUser?.role === false">
          <a class="nav-link" [class.active]="strUrl.startsWith('/admin/detallePartida')" routerLink="/admin/detallePartida/plist">Detalle Partida</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="strUserName">
          <a class="nav-link" [routerLink]="['/perfil']">{{strUserName}}</a>
        </li>
        <li class="nav-item" *ngIf="!strUserName">
          <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
        </li>
        <li class="nav-item" *ngIf="strUserName">
          <a class="nav-link" routerLink="/logout">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
