.navbar {
    background-color: #26105d;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 0;
    padding: 0;
}

.nav-link {
    color: #fff;
}

.navbar-brand {
    color: #fff;
}

.navbar-nav .nav-item .nav-link.active {
    color: #ad9f9f; /* Cambia el color a tu preferencia */
    font-weight: bold; /* Cambia el estilo de fuente a tu preferencia */
    /* Otros estilos que desees aplicar */
}

.menu-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}
#boton{
    background-color: #26105d;
}
