<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div class="mb-5">
  <table class="table table-bordered table-striped table-hover table-sm">
    <thead>
      <tr>
        <th (click)="doOrder('id')">Id</th>
        <th (click)="doOrder('fecha')">Fecha</th>
       
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let partida of oPage?.content" class="align-middle">
        <td class="text-end"><strong>{{ partida.id }}</strong></td>
        <td>{{ partida.fecha }}</td>
      
        <!-- Asegúrate de ajustar esto según la estructura de tu modelo -->
        <td class="text-center">
          <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
            <button class="btn btn-primary" (click)="onSelectPartida(partida)"><i class="pi pi-plus-circle"></i></button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
