.custom-color {
    background-color: #7e1f60; /* Color verde personalizado */
    color: white;
  }
  .custom-border-color {
    border-color: #7e1f60; /* Color verde personalizado para el borde */
  }
  .profile-header {
    background-color:#7e1f60; /* Color verde personalizado */
  }

  .btn-primary:hover {
    background-color:#7e1f60; 
  }
  .btn-primary{
    background-color:#7e1f60; 
    color: white;
    border: none;
  }