/* Estilos para las tablas */
.table th {
  background-color: #662549;; /* Púrpura */
  color: #ecf0f1; /* Blanco */
}

.table td {
  background-color: #ecd4d4; /* Azul */
  color: #fff; /* Blanco */
  border: 1px solid #ecd4d4; /* Azul más oscuro */
  border-radius: 5px;
}

.custom-table {
  width: 100%;
  max-width: 600px;
  margin: auto;
  border: 2px solid #34495e; /* Gris azulado */
  border-radius: 10px;
}

/* Estilos para el contenedor */
.container {
  text-align: center;
}

/* Espaciado */
.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Estilos para las alertas */
.alert {
  background-color: #c0392b; /* Rojo oscuro */
  color: #fff; /* Blanco */
  border: 1px solid #922b21; /* Rojo más oscuro */
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
