<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
      <div class="alert alert-danger" role="alert">
          {{ status!.error.message }} - {{ status!.message }}
      </div>
  </div>
</div>

<div *ngIf="status == null">
  <table class="table table-striped table-hover">
      <tbody>
          <tr>
              <th>ID</th>
              <td>{{oUsuarioStand.id }}</td>
          </tr>
          <tr *ngIf="oUsuarioStand.usuario">
              <th>Usuario</th>
              <td>{{oUsuarioStand.usuario.nombre }}</td>
          </tr>
          <tr *ngIf="oUsuarioStand.usuario">
            <th>Stand</th>
            <td>{{oUsuarioStand.stand.nombre }}</td>
        </tr>
      
      </tbody>
  </table>
</div>
