<div *ngIf="status != null">
  <div class="d-flex justify-content-center my-3">
    <div class="alert alert-danger" role="alert">
      {{ status!.error.message }} - {{ status!.message }}
    </div>
  </div>
</div>

<div class="mb-5">
  <table class="table table-bordered table-striped table-hover table-sm">
    <thead>
      <tr>
        <th (click)="doOrder('velocidad')">Velocidad</th>
        <th (click)="doOrder('alcance')">Alcance</th>
        <th (click)="doOrder('poder')">Poder</th>
        <th (click)="doOrder('aguante')">Aguante</th>
        <th (click)="doOrder('acierto')">Acierto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of oPage?.content" class="align-middle">
        <td class="text-end"><strong>{{ t.id }}</strong></td>
        <!-- Otros campos -->
        <td>{{ t.velocidad }}</td>
        <td>{{ t.alcance }}</td>
        <td>{{ t.poder }}</td>
        <td>{{ t.aguante }}</td>
        <td>{{ t.acierto }}</td>
      </tr>
    </tbody>
  </table>
</div>

<p-confirmDialog #cd [style]="{ width: '30vw' }">
  <ng-template pTemplate="header">
    <h5><i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem"></i> Thread Removal</h5>
  </ng-template>
  <ng-template pTemplate="message">
    <div class="container d-flex align-items-center justify-content-center">
      <!-- Verifica si oAtaqueToRemove no es nulo antes de mostrar el detalle -->
      <app-admin-ataque_stand-detail-unrouted *ngIf="oAtaqueToRemove" [id]="oAtaqueToRemove!.id"></app-admin-ataque_stand-detail-unrouted>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <p>Remove this thread?</p>
    <button class="btn btn-primary mx-1" pButton icon="pi pi-times" (click)="cd.reject()">No</button>
    <button class="btn btn-danger mx-1" pButton icon="pi pi-check" (click)="cd.accept()">Yes</button>
  </ng-template>
</p-confirmDialog>
