.btn-primary {
    background-color: #365486;
    border-color: #365486;
}
.bg-primary{
    background-color: #365486;
    border-color: #365486;

}
#header{
    background-color: #365486;
    border-color: #365486;
 
}
.card-body{
    background-color: #F39F5A;
}
.list-group-item{
    background-color: #FDF0D1;
}