.btn-primary {
    background-color: #26105d;
    border-color: #26105d;
}


.card-body{
    background-color: #DAD4EA;
}
.list-group-item{
    background-color: #dad4ea81;
}
.bg-primary{
    background-color:#26105d ;
}