<div *ngIf="status == null">
  <div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-lg-10"> <!-- Aumenté el tamaño del div a col-lg-10 -->
        <!-- Detalles del Stand -->
        <div class="card shadow-lg">
          <!-- Encabezado -->
          <div class="card-header bg-primary text-white"id="header">
            <h5 class="mb-0">Detalles del Stand</h5>
          </div>
          <!-- Cuerpo -->
          <div class="card-body">
            <!-- Imagen y descripción -->
            <div class="row">
              <div class="col-md-4">
                <img class="img-fluid rounded" [src]="oStand.imagen" alt="Imagen del stand">
              </div>
              <div class="col-md-8">
                <h5 class="card-title">{{ oStand.nombre }}</h5>
                <p class="card-text">{{ oStand.descripcion }}</p>
                <div class="mt-4">
                  <h6>Características:</h6>
                  <ul class="list-group">
                    <li class="list-group-item">Velocidad: {{ oStand.velocidad }}</li>
                    <li class="list-group-item">Alcance: {{ oStand.alcance }}</li>
                    <li class="list-group-item">Poder: {{ oStand.poder }}</li>
                    <li class="list-group-item">Aguante: {{ oStand.aguante }}</li>
                    <li class="list-group-item">Acierto: {{ oStand.acierto }}</li>
                  </ul>
                </div>
                <button class="btn btn-primary" (click)="onPrintUser(oStand.id)">PDF</button>
              </div>
            </div>
          </div>
         

       

      
      </div>
    </div>
  </div>
</div>
